:sass
  .adsense
    margin-top: 2em
    display: inline-block
    background: #999999
    position: relative
    padding: 0.5em
    overflow: hidden
    p
      position: relative
      top: -0.6em
      left: -0.6em
      display: inline-block
      margin: 0
      background: #3872b8
      color: white
      text-align: center
      font-size: small
      white-space: nowrap
      padding: 0.5em 1em
    ins
      display: block !important
.adsense
  %p 広告
  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / 横長
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-7235918635153931", "data-ad-slot" => "3060033608", :style => "display:inline-block;width:728px;height:90px"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
