doctype html
html
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-75039302-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-75039302-3');
    meta(charset='UTF-8')
    meta(content='IIDX Input Capturer', property='og:title')
    meta(content='ゲームプレイ中に、鍵盤を押した所を可視化するツールです', property='og:description')
    meta(content='website', property='og:type')
    meta(content='https://masaoblue.github.io/', property='og:url')
    meta(content='https://masaoblue.github.io/images/iidx_input_capturer-thumbnail.png', property='og:image')
    meta(content='IIDX Input Capturer', property='og:site_name')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='@masaoblue', name='twitter:creator')
    meta(content='IIDX Input Capturer', name='twitter:title')
    meta(content='ゲームプレイ中に、鍵盤を押した所を可視化するツールです', name='twitter:description')
    meta(content='https://masaoblue.github.io/images/iidx_input_capturer-thumbnail.png', name='twitter:image:src')
    title IIDX Input Capturer
    link(href='images/favicon.png?', rel='shortcut icon', type='image/png')
    link(href='css/reset.css', rel='stylesheet', type='text/css')
    link(href='css/custom.css', rel='stylesheet', type='text/css')
  body
    .developer
      .twitter
        .label Developed by
        .btn
          a(href='https://twitter.com/masaoblue', target='_blank') @masaoblue
    h1 IIDX Input Capturer
    .detail
      p ゲームプレイ中に、鍵盤を押した所を可視化するツールです。
    hr
    h2 Newest Version
    ul
      li
        a.new(href='./files/iidx_input_capturer_v0.3.zip') IIDX Input Capturer v0.3 (2020/11/15)
        .detail
          p ・押し始めからCNと判定するまでの時間調整
          p ・背景を透過し、OBS上でゲーム画面と重ね合わせて表示
          p ・緑数字/白数字を指定したノーツの速度/表示領域の調整
    h2 【使用イメージ】
    div(style="display: flex; flex-wrap: wrap; margin-bottom: 3em")
      div(style="margin-right: 1em")
        div 通常表示
        img(src='images/iidx_input_capturer-thumbnail.png' style="width: 700px; margin-bottom: 1em")
      div
        div 背景を透過してゲーム画面に重ねて表示
        img(src='images/iidx_input_capturer-transparent.png' style="width: 700px; margin-bottom: 1em")
    h2 Old Version
    ul.old
      li
        a.new(href='./files/iidx_input_capturer_v0.2.zip') v0.2 (2020/11/4)
        .detail
          p ・v0.1のリリース資材が間違っていたので再公開
          p ・1P/2Pの切り替えができるようになりました
      li
        a(href='./files/iidx_input_capturer_v0.1.zip') v0.1 (2020/11/3)
        .detail
          p  ※リリース資材を間違えました
          p ・UIを改善
          p ・ボタンの入力回数を表示
          p ・マウススクロールで入力を遡って表示
      li
        a(href='./files/iidx_input_capturer_v0.0.zip') v0.0 (2020/10/27)
        .detail
          p ・初回リリース
