doctype html
html
  head
    // Global site tag (gtag.js) - Google Analytics
    script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-75039302-2")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-75039302-3');
    meta(charset='UTF-8')
    meta(content='MasaoBlue developed tools', property='og:title')
    meta(content='開発したもの置き場です', property='og:description')
    meta(content='website', property='og:type')
    meta(content='https://masaoblue.github.io/', property='og:url')
    meta(content='https://masaoblue.github.io/images/iidx_csv_viewer.png', property='og:image')
    meta(content='MasaoBlue developed tools', property='og:site_name')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='@masaoblue', name='twitter:creator')
    meta(content='MasaoBlue developed tools', name='twitter:title')
    meta(content='開発したもの置き場です', name='twitter:description')
    meta(content='https://masaoblue.github.io/images/iidx_csv_viewer.png', name='twitter:image:src')
    title MasaoBlue developed tools
    link(href='images/favicon.png?', rel='shortcut icon', type='image/png')
    link(href='css/reset.css', rel='stylesheet', type='text/css')
    link(href='css/custom.css', rel='stylesheet', type='text/css')
  body
    .developer
      .twitter
        .label Developed by
        .btn
          a(href='https://twitter.com/masaoblue', target='_blank') @masaoblue
    h1 Developed tools
    .description
      | 開発したものを公開していく場所です。
    h2 Tools
    ul.tools
      li
        a(href='./iidx_csv_viewer')
          .name IIDX CSV Viewer
          img(src='images/iidx_csv_viewer.png')
          .detail IIDXの公式CSVを読み込んで見やすく表示するツールです。県別TOPとの比較表示もできます。
      li
        a.new(href='./iidx_csv_viewer/#/toprankers')
          .name IIDX Top Rankers Viewer
          img(src='images/toprankers.png')
          .detail IIDXの公式ページで公開されているTopRankerの情報を一覧表示・比較するツールです。
      li
        a(href='./files/iidx_key_logger_v03.zip')
          .name IIDX Key Logger
          img(src='images/iidx_key_logger.png')
          .detail
            | IIDX専用コントローラの入力を見える化するツールです。二重階段を無限に自動生成して練習できる機能を追加。
      li
        a.new(href='./input_capturer.html')
          .name IIDX Input Capturer
          img(src='images/iidx_input_capturer.jpg')
          .detail ゲームプレイ中に、鍵盤を押した所を可視化するツールです。
    h2 Old Version
    ul.old
      li
        a.new(href='./files/iidx_key_logger_v02.zip') IIDX Key Logger v02 (2017/06/19)
        .detail
          p 階段譜面を無限に自動生成して練習できる機能を実装。
      li
        a(href='./files/iidx_key_logger_v01.zip') IIDX Key Logger v01 (2017/06/15)
        .detail お手本通りに押してタスクをクリアしていく版。
      li
        a(href='./files/iidx_key_logger_v00.zip') IIDX Key Logger v00 (2017/06/12)
        .detail IIDXの専用コントローラの入力を見える化するツールです。
      li
        a(href='./old/iidx_csv_viewer_b01/score.html') IIDX CSV Viewer Beta1 (～2019/01/09)
        .detail IIDXの公式CSVを読み込んで一覧表示するツールの古い版です。
    include _ads.pug
    h2 Samples with My data
    ul
      li
        a(href='./iidx_csv_viewer/#/?csv=20200222') IIDX CSV Viewer (Single file)
        p - 1つのファイル(HEROIC VERSEのもの)を表示します。
        p.e - Display HEROIC VERSE data.
      li
        a(href='./iidx_csv_viewer/#/?csv=20200222&oldCsv[]=20191014') IIDX CSV Viewer (Compare 2 files)
        p - Rootage終了時点のものと、HEROIC VERSEの最新データを比較表示します。
        p.e - Comparison between HEROIC CERSE and Rootage.
      li
        a(href='https://github.com/MasaoBlue/iidx_score_csv') My score CSV
        p - 過去作のTOPRANKERのデータや、私の過去の記録をCSVで公開しています。比較の確認用などに。
        p.e - Published history files.
