doctype html
html
  head
    meta(charset='UTF-8')
    meta(content='MasaoBlue developed tools', property='og:title')
    meta(content='開発したもの置き場です', property='og:description')
    meta(content='website', property='og:type')
    meta(content='https://masaoblue.github.io/', property='og:url')
    meta(content='https://masaoblue.github.io/images/iidx_csv_viewer.png', property='og:image')
    meta(content='MasaoBlue developed tools', property='og:site_name')
    meta(content='summary_large_image', name='twitter:card')
    meta(content='@masaoblue', name='twitter:creator')
    meta(content='MasaoBlue developed tools', name='twitter:title')
    meta(content='開発したもの置き場です', name='twitter:description')
    meta(content='https://masaoblue.github.io/images/iidx_csv_viewer.png', name='twitter:image:src')
    title MasaoBlue developed tools
    link(href='images/favicon.png?', rel='shortcut icon', type='image/png')
    link(href='css/reset.css', rel='stylesheet', type='text/css')
    link(href='css/custom.css', rel='stylesheet', type='text/css')
  body
    .developer
      .twitter
        .label Developed by
        .btn
          a(href='https://twitter.com/masaoblue', target='_blank') @masaoblue
    h1 Developed tools
    .description
      | 開発したものを公開していく場所・・・になる予定です。
    h2 Tools
    ul
      li
        a.new(href='./files/iidx_key_logger_v01.zip') IIDX Key Logger v01 (2017/06/15)
        .detail
          p IIDXの専用コントローラの入力を見える化するツールです。
          p お手本通りに押してタスクをクリアしていく版。
      li
        a(href='./iidx_csv_viewer/score.html') IIDX CSV Viewer (Beta)
        .detail IIDXの公式CSVを読み込んで一覧表示するツールです。
    h2 Old Version
    ul
      li
        a(href='./files/iidx_key_logger_v00.zip') IIDX Key Logger v00 (2017/06/12)
        .detail IIDXの専用コントローラの入力を見える化するツールです。
    h2 Samples with My data
    ul
      li
        a(href='./iidx_csv_viewer/score.html?csv=20161203.csv&debug=true') IIDX CSV Viewer (Single file)
        p - 1つのファイル(SINOBUZのもの)を表示します。
        p.e - Display SINOBUZ data.
      li
        a(href='./iidx_csv_viewer/score.html?csv=20161203.csv&old_csv=20161024.csv&debug=true') IIDX CSV Viewer (Compare 2 files)
        p - copula終了時点のものと、SINOBUZの最新データを比較します。
        p.e - Comparison between copula and SINOBUZ.
      li
        a(href='https://github.com/MasaoBlue/iidx_score_csv') My score CSV
        p - 私の過去データを公開しています。比較の確認用などに。
        p.e - Published my history files.
    include _ads.pug
